<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buttons08</title>
    <link rel="stylesheet" href="Buttons08.css">
</head>

<body>
<section class="Normal Buttons">
 <h2>Normal Button</h2>
    <button>Learn More</button>
    <button>Learn More</button>
    <button>Learn More</button>
</section>

<section class="Filled Buttons">
    <h2>Filled Button</h2>
    <button>Learn More</button>
    <button>Learn More</button>
    <button>Learn More</button>
</section>

<section class="Icon Buttons">
    <h2>Icon Button</h2>
    <button>
        <img src="изтеглен%20файл.png" alt="асд"></img>Download</button>
    <button>
        <img src="изтеглен%20файл.png" alt="асд"></img>Download</button>
    <button>
        <img src="изтеглен%20файл.png" alt="асд"></img>Download</button>
</section>
</body>
</html>