<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StyledList06</title>
    <link rel="stylesheet" href="StyledList06.css">
</head>

<body>
  <article>
      <h1>HTML Unordered list</h1>
      <ul>
          <li>
              sdaassadasdsa
          </li>
          <li>
              dassaasdsadas
          </li>
      </ul>
  </article>

 <article>
     <h1>Reversed List</h1>
     <ol reversed>
         <li>
            asdsasa
         </li>
         <li>
             dsasdsadsa
         </li>
     </ol>


 </article>
</body>
</html>