<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TheMakingACSSFont</title>
    <link rel="stylesheet" href="TheMakingACSSFont.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Nerko+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Nerko+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>

<body>
  <section>
      <h1>The Making A CSS Font</h1>
      <h2>How it works</h2>

      <p>wedfsafs df jdfh afdshfd hfdhh fdashfdh dfhah fdhfd hdsafh hfdhdfhdhfd dfdfsaf</p>
      <p>dsfdsfds fsd hjdsfk jadsfhjfds hjadsf</p>
  </section>
</body>
</html>