<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="Demo.css">
</head>
<body>
 <h1>Title</h1>

 <div style="display: inline-block;background: red">
   TestRed
 </div>
 <div style="display: inline-block;background: green">
   TestGreen
 </div>
 <div style="display: inline-block;background: yellow">
   TestYellow
 </div>
 <div style="display: inline;background: red">
   TestRedInline
 </div>
 <div style="display: inline;background: green">
   TestGreenInline
 </div>
 <div style="display: inline;background: yellow">
   TestYellowInline
 </div>
</body>
</html>