<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fruits</title>
    <link rel="icon" type="image/png" href="/templates/fragments/favicon-16x16.png" sizes="16x16">
</head>
<body>
 <section>
     <h2>Fruits</h2>
     <article>
         <img width="150" src="изтеглен%20файл.png" alt="banica">
         <img width="150" src="изтеглен%20файл.png" alt="banica">
         <img width="160" src="изтеглен%20файл.png" alt="banica">
         <img width="170" src="изтеглен%20файл.png" alt="banica">
         <img width="180" src="favicon-32x32.png" alt="banica">
     </article>

     <article>
         <img width="200" src="изтеглен%20файл.png" alt="banica">
         <img width="190" src="изтеглен%20файл.png" alt="banica">
         <img width="180" src="изтеглен%20файл.png" alt="banica">
         <img width="170" src="изтеглен%20файл.png" alt="banica">
         <img width="160" src="favicon-32x32.png" alt="banica">
     </article>

     <article>
            <img src="изтеглен%20файл.png" alt="banica">
            <img width="200" src="изтеглен%20файл.png" alt="banica">
            <img width="180" src="изтеглен%20файл.png" alt="banica">
            <img width="160" src="изтеглен%20файл.png" alt="banica">
            <img width="140" src="favicon-32x32.png" alt="banica">
            <img src="favicon-32x32.png" alt="banica">
            <img src="favicon-16x16.png" alt="banica">
     </article>
 </section>

<!--   <img src="изтеглен%20файл.png" alt="banica">-->
<!--   <img src="изтеглен%20файл.png" alt="banica">-->
<!--   <img src="изтеглен%20файл.png" alt="banica">-->
<!--   <img src="изтеглен%20файл.png" alt="banica">-->
<!--   <img src="favicon-32x32.png" alt="banica">-->
<!--   <img src="favicon-32x32.png" alt="banica">-->
<!--   <img src="favicon-16x16.png" alt="banica">-->

</body>
</html>
