<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
 <p>
     I am learning <strong>HTML</strong> and <strong>CSS</strong> !
 </p>

 <h1>Liverpool</h1>
 <h2>Forever</h2>
 <h3>Banica</h3>
 ,<h6>Premier <strong>Premier League</strong></h6>

   <a href="https://bntnews.bg/" > go to bnt news webstite</a>
   <a href="./SecondPage.html" > go to my second Page html </a>

   <img src="изтеглен%20файл.png">

 <details>
     <summary>Some details</summary>
     <p>More info about the details.</p>
     <p>More info about the details.</p>
     <p>More info about the details.</p>
     <p>More info about the details.</p>
     <p>More info about the details.</p>
 </details>

  <form>
    <label>username</label>
   <input type="text" name = "username" autofocus>
      <label>phoneNumber</label>
      <input type="number" name = "number">
      <label>password</label>
      <input type="password" name = "password">
   <input type="submit" name = "submit">
      <label>ЕГН</label>
   <input type="egn" name = "egn">
      <label>Адрес</label>
   <input type="address" name = "address">

  </form>


 <form >
 <label> male</label>
 <input type="radio" id="male" name="gender" value="Gender">
 <label>female </label>
 <input disabled type="radio" id="female" name="gender" value="Gender">
     <input type="number" placeholder="Enter your age" autofocus min = "10" max = 100>
 </form>

 <form>
     <label> <strong>Size:</strong></label>
     <select id="size"name="size">
     <option value="39">39 EU</option>
     <option value="40">40 EU</option>
     <option value="41.5">41.5 EU</option>
     </select>
 </form>


 <!-- <form >-->
<!--     <label for ="male"> Male</label>-->
<!--     <input type="radio" id="male" name="gender" value="Gender">-->
<!--     <label for="female">Female </label>-->
<!--     <input type="radio" id="female" name="gender" value="Gender">-->
<!-- </form>-->
 <ul type="circle">
       <li>Anton</li>
       <li>Boris</li>
       <li>Vasil</li>
       <li>Georgi</li>
       <li>Daniel</li>
   </ul>
<!-- <h1>-->
<!--     <a href="https://softuni.bg" > go to Softuni webstite</a>-->
<!-- </h1>-->
</body>
</html>