<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buttons08</title>
    <link rel="stylesheet" href="Buttons08.css">
</head>
<body>
 <section class="normal">
     <h2>Normal Buttons</h2>
     <button>Learn More</button>
     <button>Learn More</button>
     <button>Learn More</button>
 </section>

 <section class="filled">
     <h2>Filled Buttons</h2>
     <button>Learn More</button>
     <button>Learn More</button>
     <button>Learn More</button>
 </section>

 <section class="icon">
     <h2>Icon Buttons</h2>
     <button>
         <img src="изтеглен%20файл.png" alt="ада">
        Download</button>
     <button>
         <img src="изтеглен%20файл.png" alt="ада">
Download</button>
     <button>
         <img src="изтеглен%20файл.png" alt="ада">
Download</button>
 </section>
</body>
</html>