<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StylingTables07</title>
    <link rel="stylesheet" href="StylingTables07.css">
</head>

<body>
  <table>
    <thead>
    <tr>
      <th>Country</th>
      <th>Population</th>
      <th>Score</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        Somewhere
      </td>
      <td>12M</td>
      <td>25</td>
    </tr>
    <tr>
      <td>
        Somewhere else
      </td>
      <td>3D</td>
      <td>2225</td>
    </tr>
    <tr>
      <td>
        Another place
      </td>
      <td>233M</td>
      <td>13</td>
    </tr>
    </tbody>
  </table>
</body>
</html>