<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Modern JavaScript</title>
    <link rel="stylesheet" href="The%20Modern%20JavaScript.css">
</head>
<body>
 <main>
     <p>
         The modern JS tutorial
     </p>
     <h1>The JavaScript language 1.0</h1>
     <h2>The JavaScript language 1.0 an introduction</h2>
     <ul>
         <li>Here we learning JavaScript</li>
         <li>We concentrate ot language itself</li>
     </ul>
 </main>

 <footer>
     &copy;2007-2021 All rights reserved
 </footer>

</body>
</html>