<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>World Cup News</title>
    <link rel="stylesheet" href="The%20Modern%20JavaScript.css">
</head>
<body>
 <main>
     <h1>World Cup News</h1>
     <p>The biggest scorline...</p>
     <p>The legendary brouch also scorline...</p>
     <p>And though the defeat...</p>

     <section>
         <h2>Destinations</h2>
         <article>
             <img src="/templates/CSSTasks/Belo_Horizonte,_Brasil_horizon_view.jpg" alt="CopaCabanaALTERNATIVE">
             <p>Belo Horizonte</p>
         </article>
         <article>
             <img src="/templates/fragments/mexicoCity.jpg" alt="adas">
             <p>Brazilia Stadium</p>
         </article>
        <article>
            <img src="/templates/fragments/mexicoCity.jpg" alt="adasdas">
            <p>Cuba Stadium</p>
        </article>

     </section>
 </main>
</body>
</html>